@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Astro", sans-serif;
}

b {
  font-weight: 900;
}

/* Header */
body {
  line-height: 1.6;
  margin: 0;
  align-items: flex-end;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  width: 48px;
  height: auto;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #34495e;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  text-align: center;
  margin: 0;
}

.logo a,
.main-nav a {
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding: 8px 16px;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 1px 1px 2px #a2a2a2;
  border-radius: 5px;
  position: fixed;
  z-index: 5;
}

/*
.btn-ham-menu {
  width: 10%;
  position: absolute;
  right: 5px;
  top: 18px;
}
*/

/* Shapes  */

.shape {
  z-index: -1;
  position: absolute;
  height: 100px;
}

.shape-1 {
  top: 16vh;
  left: 5vw;
}
.shape-2 {
  top: 16vh;
  left: 30vw;
}
.shape-3 {
  top: 16vh;
  left: 65vw;
}
.shape-4 {
  top: 16vh;
  left: 90vw;
}
.shape-5 {
  top: 50vh;
  left: 5vw;
}
.shape-6 {
  top: 50vh;
  left: 80vw;
}

/* Hero section */

.hero {
  height: 100vh;
  position: relative;
}

.wrapper-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 24px;
}

.title__blue {
  color: #4285f4;
}
.title__red {
  color: #ea4335;
}
.title__yellow {
  color: #fbbc05;
}
.title__green {
  color: #34a853;
}
.title__google {
  text-decoration: none;
  transition: all 200ms ease;
}
.title__google:hover {
  font-size: 55px;
}

.title-hero {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 30px;
}
.subtitle-hero {
  font-weight: 400;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave__wrapper {
  position: relative;
}
.wave1 {
  background-image: url("../assets/wave-1.svg");
  position: absolute;
  pointer-events: none;
  bottom: 0;
}
.wave2 {
  background-image: url("../assets/wave-2.svg");
  position: absolute;
  pointer-events: none;
  top: 0;
  margin-top: -64px;
}

/* About section */

.about {
  display: flex;
  height: 80vh;
  margin: 64px 64px 0 64px;
  background-color: #fff;
  gap: 64px;
}

.about__column--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.about__column--right {
  display: flex;
  align-items: center;
  width: 60%;
}

.wrapper-about-title {
  justify-content: left;
  text-align: center;
  align-items: center;
}
.icon-gdsc-about {
  width: 25%;
}
.title-about {
  font-weight: 700;
}
.wrapper-about-title > .title-about {
  margin-top: -8px;
  margin-bottom: 20px;
}
.paragraph-about {
  font-weight: lighter;
  text-align: justify;
}
.img-club-members {
  width: 100%;
}

/* Opportunities Section */

.home__container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.opportunities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.opportunities__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px 0;
  gap: 32px;
}
.opportunities__list--item {
  width: 40%;
  list-style-type: initial;
  font-weight: lighter;
}

/* Our Community */

.our-community {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px; /* 24px from opp__list + 32px from opp = 56px total */
}
.our-community__box > .title-about {
  text-align: center;
}
.our-community__box {
  position: relative;
  border: 0.5px solid;
  padding: 16px;
}
.our-community__box::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 2px;
  width: 100%;
  transform: skew(45deg);
  height: 5px;
  background: linear-gradient(90.92deg,#4285f4 1.55%,#ea4335 48.21%,#fbbc05 100%,#34a853 100%);
}
.our-community__box::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 2px;
  width: 5px;
  height: 101%;
  transform: skewY(45deg);
  background: linear-gradient(180deg,#34a853 0%,#4285f4 53.12%,#fbbc05 100%);
}
.our-community__list {
  margin: 24px 0;
}
.our-community__list--item {
  font-weight: lighter;
}

/* Footer */

.footer__wrapper {
  position: relative;
  margin-top: auto;
}

.footer {
  width: 100%;
  background: #3586ff;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  display: flex;
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

/* Different monitor sizes */

@media screen and (min-width: 720px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  .btn-ham-menu {
    display: none;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav-link {
    text-decoration: none;
    color: #000;
  }
}

@media screen and (min-width: 850px) {
  li {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    top: 0;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 950px) {
  .shapes__container {
    display: none;
  }
}

@media (max-width: 800px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    height: inherit;
    gap: 21px;
    margin: 0px 32px;
  }

  .wave2 {
    margin-top: 0px;
  }

  .about__column--right {
    margin-top: 48px;
  }

  .about__column--left {
    flex-direction: row;
    width: inherit;
    margin: 24px 0;
  }

  .icon-gdsc-about {
    margin-bottom: 32px;
  }

  .wrapper-about-title {
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .paragraph-about {
    width: 50%;
    text-align: start;
  }
}

@media (max-width: 650px) {
  .about {
    gap: 0;
    margin-bottom: 32px;
  }
  .about__column--left {
    flex-wrap: wrap;
    margin: 0;
  }
  .about__column--right {
    width: 90%;
  }
  .wrapper-about-title {
    width: 100%;
    margin: 0;
  }
  .icon-gdsc-about {
    margin-bottom: 0;
  }
  .paragraph-about {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .title-hero {
    font-size: 40px;
    margin-bottom: 0;
  }
  .subtitle-hero {
    font-size: 20px;
  }
}
