@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


/* Page header */
body {
  line-height: 1.6;
  margin: 0;
  align-items: flex-end;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  width: 48px;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #34495e;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  text-align: center;
  margin: 0;
}

.logo a,
.main-nav a {
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding: 8px 16px;

  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* h1 */
h1 {
  text-align: center;
  margin-top: 7%;
  font-weight: light;
  background: #3369e8;
  background: linear-gradient(to right, #3369e8 20%, #D50F25 40%, #EEB211 60%, #009925 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Article 1 */
.img-developers1 {
  width: 70%;
  display: block;
  margin: 5% auto 0 auto;
  border-radius: 50px;
  box-shadow: -8px 8px 18px -3px rgba(0,0,0,0.82);
  -webkit-box-shadow: -8px 8px 18px -3px rgba(0,0,0,0.82);
  -moz-box-shadow: -8px 8px 18px -3px rgba(0,0,0,0.82);
}
.icon-a1-s1 {
  width: 10%;
  display: block;
  margin: 5% auto -5% auto;
}
h2 {
  font-weight: light;
  text-align: center;
  margin-top: 5%;
}
#a1-p {
  display: block;
  margin: 5% 5% 5% 5%;
  line-height: 150%;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Article 2 */
.img-developers2 {
  width: 70%;
  display: block;
  margin: 5% auto 5% auto;
  border-radius: 50px;
  box-shadow: -8px 8px 18px -3px rgba(0,0,0,0.82);
  -webkit-box-shadow: -8px 8px 18px -3px rgba(0,0,0,0.82);
  -moz-box-shadow: -8px 8px 18px -3px rgba(0,0,0,0.82);
}
#a2-p {
  display: block;
  margin: 5%;
  line-height: 150%;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Article 3 */
.article3 {
  line-height: 150%;
  background-color: #EEB211;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 5% 0;
}
h3 {
  margin-bottom: 5%;
  font-style: italic;
}
.mission-statement {
  margin: 5%;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Article 4 */
.article4 {
  margin: 7%;
}
.values-list-li {
  list-style: none;;
}
#list-number {
  font-weight: bold;
  font-size: 200%;
  line-height: 250%;
}
.list-number1 {
  color: #3369e8;
}
.list-number2 {
  color: #D50F25;
}
.list-number3 {
  color: #EEB211; 
}
.list-number4 {
  color:  #009925
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* footer */
.footer {
  /* position: absolute; */
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.social-icon {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  display: flex;
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

@media screen and (min-width: 600px) {
  h1 {
    font-size: 250%;
  }
}
@media screen and (min-width: 720px) {
  /* h1 */
  h1 {
    font-size: 300%;
  }
  /* Header */
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav-link {
    text-decoration: none;
    color: #000;
  }

}
  
@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .footer {
    position: relative;
  }
  h1 {
    font-size: 300%;
  }
  /* article 1 */
  .article1 {
    font-size: 130%;
  }
  /* article 2 */
  .article2 {
    font-size: 130%;
  }
} 
